[submodule "libthwap"]
	path = libthwap
	url = git://github.com/fuzzyoni/libthwap.git
[submodule "thutils"]
	path = thutils
	url = git://github.com/fuzzyoni/thutils.git
[submodule "opt/thunder"]
	path = opt/thunder
	url = git://github.com/fuzzyoni/thunder.git
